asgiref                   
attrs                     
Django                    
django-environ            
djangorestframework       
drf-spectacular           
inflection                
jsonschema                
jsonschema-specifications 
pip                       
psycopg2-binary           
pytz                    
PyYAML                  
referencing             
rpds-py                  
sqlparse                
tzdata                  
uritemplate              
