{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="form-container">

   <form action="{% url "reset_password" uid %}"  id="registrationForm" method="post" enctype="multipart/form-data" class="login form">
      {% csrf_token %}
      <p><span style="font-size:18px;">Set new password</span></p>
      <p>password <span>*</span></p>
      <input type="email" name="password" placeholder="enter new password" maxlength="50" required class="box">
      <p>your password <span>*</span></p>
      <input type="password" name="confirm_password" placeholder="enter password again" maxlength="20" required class="box">
      {% if messages %}
      {% for message in messages  %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
         <span style="color:red; font-size:20px;">{{message}}</style>
      </div>
      {% endfor %}
      {% endif %}
      <button class="btn btn-primary rounded">
         Reset <span class="material-icons"> arrow_right_alt </span>
       </button>
      <div id="loadingIndicator" style="display: none;">
        <p>Please wait...</p>
        <div class="spinner"></div> 
    </div>
   </form>

</section>

{% endblock content %}